@import './fonts';
@import './elements';

:root {
  --color-background: #FFFFFF;
  --color-element: #F6F8FA;
  --color-border: #D2D9DF;
  --color-text-primary: #0E1116;
  --color-text-secondary: #5B636D;
  --color-accent: #3572F6;

  --color-status-online: #88CD9B;
  --color-status-away: #EEAA41;
  --color-status-busy: #DE554E;
  --color-status-offline: #757D8A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0E1116;
    --color-element: #161B22;
    --color-border: #414850;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #9298A0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--color-text-primary);
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  width: 100%;
  background-color: var(--color-background);
}